@model ArthasPub.Models.CartItem

    @{
        ViewBag.Title = "Cancel";
    }

    <h2>Cancel</h2>

    <h3>Are you sure you want to cancel this item?</h3>
    <div>
        <h4>Item</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <img src="@Url.Content(Model.Item.ItemImageUrl)" style="width:100px">
            </dt>
            <dt>
                @Html.HiddenFor(modelItem => Model.CartItemId)
                @Html.HiddenFor(modelItem => Model.Item.Name)
                @Html.DisplayFor(modelItem => Model.Item.Name)
            </dt>
            <dt>
                @Html.HiddenFor(modelItem => Model.Price)
                @Html.DisplayFor(modelItem => Model.Price)
            </dt>
            <dt>
                @Html.HiddenFor(modelItem => Model.Quantity)
                @Html.DisplayFor(modelItem => Model.Quantity)
            </dt>

            <dt>
                @Html.DisplayFor(modelItem => Model.Total)

            </dt>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
