@model List<ArthasPub.Models.CartItem>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Cart";
}

<h2>Ordered item:</h2>
<h4>@User.Identity.GetUserName()</h4>


@using (@Html.BeginForm())
{
    decimal bill = 0;

    <table class="table">
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>

        @for (var i = 0; i < Model.Count; i++)
        {
            bill += Model[i].Total;
            <tr>
                <td>
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model[i].Item.InternalImage)" style="width:125px" />
                </td>
                <td>
                    @Html.HiddenFor(modelItem => Model[i].CartItemId)
                    @Html.HiddenFor(modelItem => Model[i].Item.Name)
                    @Html.DisplayFor(modelItem => Model[i].Item.Name)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => Model[i].Price)
                    @Html.DisplayFor(modelItem => Model[i].Price)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => Model[i].Quantity)
                    @Html.DisplayFor(modelItem => Model[i].Quantity)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => Model[i].Total)

                </td>
                @if (Model[i].Cancel == false)
                {
            <td>
                @Html.ActionLink("Cancel", "Cancel", new { id = Model[i].CartItemId }, new { @class = "btn btn-primary", @style = "color:white", @role = "button" })
            </td>
                }
                @if (Model[i].Cancel == true)
                {
                    <td>
                        <button class="btn btn-danger">Cancelled</button>
                    </td>
                }


            </tr>
        }


        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td>Sub Total:</td>
                <td>@bill</td>

            </tr>
        </tfoot>

    </table>
    @*<div class="form-actions no-color">
        @Html.ActionLink("Checkout", "Checkout", null, new { @class = "btn btn-primary", @style = "color:white", @role = "button" })
        <input type="submit" value="Update" class="btn btn-default" />
    </div>*@

    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
    }
}