@model IEnumerable<ArthasPub.Models.Item>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }



        /* Center website */
        .main {
            max-width: 1000px;
            margin: auto;
        }

        h1 {
            font-size: 50px;
            word-break: break-all;
        }

        .row {
            margin: 8px -16px;
        }

            /* Add padding BETWEEN each column */
            .row,
            .row > .column {
                padding: 8px;
            }

        /* Create four equal columns that floats next to each other */
        .column {
            float: left;
            width: 25%;
        }

        /* Clear floats after rows */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>


@{
    if (User.IsInRole("Admin"))
    {
        ViewBag.Title = "Stock List";

        <h2>Stock List</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>


        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemImageUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InternalImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disable)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemImageUrl)
                    </td>
                    <td>
                        <img src='@Url.Action("show", "image", new { modelItem = item.InternalImage })' />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Disable)
                    </td>
                    <td>
                        @Html.ActionLink("Add", "Add", new { id = item.ItemId }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ItemId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        ViewBag.Title = "Menu";

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="column">
                    <div class="content">
                        <img src="@Url.Content(item.ItemImageUrl)" style="width:100%">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <p>$ @Html.DisplayFor(modelItem => item.Price)</p>
                        <p>@Html.ActionLink("Order", "Add", new { id = item.ItemId }) </p>
                    </div>
                </div>
            }
        </div>
    }
}

